<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Euchre!</title>
    <meta name="description" content="Euchre!">

    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<label>
    Table Code
    <input id="join-code" type="text" placeholder="{{ .Table }}">
</label>
<button onclick="joinRoom();">Join</button>

<script type="text/javascript" src="/js/site.js"></script>
</body>
</html>
